#first_para {
    color: rgb(216, 202, 202);
    width: 400px;
    height: 100px;
    background-color: rgb(235, 19, 19);
    border: 5px solid rgb(5, 0, 0);
    border-radius: 5px;
}

#second_para {
    color: rgb(216, 202, 202);
    width: 400px;
    height: 100px;
    background-color: rgb(235, 19, 19);
    border: 6px solid black;
    border-left-color: blue;
    border-right-color: green;
    border-bottom-color: blueviolet;
    border-right-color: rgb(150, 131, 131);
    border-top-left-radius: 6px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 14px;
    border-bottom-left-radius: 10px;
}

#third_para {
    height: 800px;
    width: 800px;
    background-image: url('images/food.jpg');
    border: 5px solid red;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: top right;
}