* {
    box-sizing: border-box;
}

.container {
    display: flex;
}

.card {
    padding: 30px;
    border: 5px solid red;
    margin: 20px;
    box-shadow: 10px 10px rgb(34, 33, 33);
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 10px -10px 20px 10px yellow;
    /* if we wish to have shadow inside the box */
    box-shadow: inset 10px 10px cyan;
    /* if we wish to have multiple shadows */
    box-shadow: 10px 10px rgb(125, 255, 3), 15px 15px cyan;
}

body {
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: black;
}

.card h2 {
    text-shadow: 2px 2px 4px cyan, -2px -2px 4px cyan;
}