* {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 'navbar navbar navbar' 'section section aside' 'footer footer footer';
}

.item {
    border: 5px solid red;
    padding: 20px;
    background-color: rgb(245, 197, 221);
}

#navbar {
    grid-area: navbar;
}

#section {
    grid-area: section;
}

#aside {
    grid-area: aside;
}

#footer {
    grid-area: footer;
}